.App {
  text-align: center;
  margin: auto;
}

ul{
  text-decoration: none;
  padding: 0px;
}

.search{
  display: block;
  background-color: #253551;
  color: #e0e0db;
  border-radius: 5px;
  max-width: 50%;
  margin: auto;
  padding: 1%;
}
.multiSelect {
  display: block;
  margin: auto;
  max-width: 50%;
}
.searchtext{
  margin-top: 0%;
}

.resourcesCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 2px;
  padding: 5px 15px 5px 15px;
  max-width: 80%;
  margin: 15px auto;
  background-color: #FAFAFA;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #253551;
  color: #253551;
  height: 100px;
  padding-bottom: 10px;
  width: 35%;
  margin: 5% auto 1%;
}

#bridge{
  color: #253551;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-button {
  --button-size:calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #253551;
  text-decoration: none;
  color: #e0e0db;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.dropdown{
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.dropcontents{
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catchecks{
  margin: 5px;
}

.hiddenArray {
  display: none;
}
/* Loader css */
.loaderbod{
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: top;
  min-height: 100vh;
}

.wavy{
  position: relative;
}
.wavy span{
  position: relative;
  display: inline-block;
  font-size: 2em;
  animation: animate 1.5s ease-in-out infinite;
}
#one{
  animation-delay: calc(0.1s)
}
#two{
  animation-delay: calc(0.2s)
}
#three{
  animation-delay: calc(0.3s)
}
#four{
  animation-delay: calc(0.4s)
}
#five{
  animation-delay: calc(0.5s)
}
#six{
  animation-delay: calc(0.6s)
}
#seven{
  animation-delay: calc(0.7s)
}
#eight{
  animation-delay: calc(0.8s)
}
#nine{
  animation-delay: calc(0.9s)
}
#ten{
  animation-delay: calc(1s)
}
/* There has to be a better way to write this ^ */

@keyframes animate{
  0%{
      transform: translateY(0px);
  }
  20%{
      transform: translateY(-20px);
  }
  40%,100%{
      transform: translateY(0px);
  }
}



@media all and (max-width: 615px) {
  .search{
    max-width: 60%;
    padding: 2%;
  }
  .dropcontents{
    max-width: 90%;
  }
  .catchecks{
    margin: 8px;
    font-weight: bold;
  }
  .footer{
    width: 80%;
  }
}