.App {
  text-align: center;
}

.search{
  display: block;
  border: 1px solid black;
  max-width: 20%;
  margin: auto;
  padding: 1%;
}

.searchtext{
  font-size: small;
  margin-top: 0%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


