.App {
  text-align: center;
  margin: auto;
}

ul{
  text-decoration: none;
  padding: 0px;
}

.search{
  display: block;
  background-color: #253551;
  color: #e0e0db;
  border-radius: 5px;
  max-width: 25%;
  margin: auto;
  padding: 1%;
}

.searchtext{
  font-size: large;
  margin-top: 0%;
}

.resources{
  background-color: #e0e0db;
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  max-width: 80%;
  margin: 15px auto;
}

.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #253551;
  color: #253551;
  height: 100px;
  padding-bottom: 10px;
  width: 35%;
  margin: 5% auto 1%;
}

#bridge{
  color: #253551;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.icon-button {
  --button-size:calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size);
  background-color: #253551;
  text-decoration: none;
  color: #e0e0db;
  border-radius: 5px;
  padding: 7px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 300ms;
}
.icon-button:hover{
  filter: brightness(1.2);
  cursor: pointer;
}

.dropdown{
  position: absolute;
  top: 58px;
  width: 300px;
  transform: translateX(-45%);
  background-color: var(--bg);
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.dropcontents{
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catchecks{
  margin: 5px;
}


@media all and (max-width: 615px) {
  .search{
    max-width: 60%;
    padding: 2%;
  }
  .dropcontents{
    max-width: 90%;
  }
  .catchecks{
    margin: 8px;
    font-weight: bold;
  }
  .footer{
    width: 80%;
  }
}